nav(class="py-7 px-10 bg-[#000000aa] lg:inline-block rounded-xl p-3 backdrop-blur-lg shadow-2xl lg:py-10")
        div.flex.flex-col.place-content-between.items-center.h-full.gap-8(class="lg:flex-row lg:gap-20")
          .text-white.flex.flex-row.gap-10.px-5.text-center
            a(href="/")
              img.h-20.-my-4(src="/images/logo.png")
          ul.flex.flex-row.gap-5.text-white.pr-5
            li
              a.px-3.py-2.border-2.border-white.rounded-xl.duration-300(href="/#services", class="hover:text-black hover:bg-white hover:shadow-lg") Services
            
            li
              a.px-3.py-2.border-2.border-white.rounded-xl.duration-300(href="/aboutus", class="hover:text-black hover:bg-white hover:shadow-lg") About us
            
            li
              a.px-3.py-2.border-2.border-white.rounded-xl.duration-300(href="/contactus", class="hover:text-black hover:bg-white hover:shadow-lg") Contact

            li
              a.px-3.py-2.border-2.border-white.rounded-xl.duration-300(href="#", class="hover:text-black hover:bg-white hover:shadow-lg") Option 4

            li
              a.px-3.py-2.border-2.border-white.rounded-xl.duration-300(href="#", class="hover:text-black hover:bg-white hover:shadow-lg") Sign in
