doctype html 
html 
  head 
    include ./components/head

  body 
    header.flex.justify-center.fixed.w-screen.top-3.z-50
      include ./components/nav

    main
      div.pb-12.h-screen(class="lg:flex-row lg:pt-36", style="background-image: url(/images/corporate.jpg); background-size: cover; background-repeat: no-repeat;")
        .p-10.py-12.my-12.mt-24.backdrop-blur-md.mx-auto.text-center(class="bg-[#000000aa]")
          section.text-2xl.font-semibold.text-center.text-white.mb-8 Corporate Services
          div.flex.rounded-xl.p-10.py-12.my-2.mx-auto.text-center.gap-10.flex-wrap.place-content-evenly(class="w-[90vw] md:w-[70vw]")
            a.whitespace-nowrap.text-white.rounded-xl.px-4.py-2.border-2.border-white.font-semibold.text-lg.duration-500(class="hover:text-black hover:bg-white hover:shadow-xl") Corporation Formation
            a.whitespace-nowrap.text-white.rounded-xl.px-4.py-2.border-2.border-white.font-semibold.text-lg.duration-500(class="hover:text-black hover:bg-white hover:shadow-xl") Payroll
            a.whitespace-nowrap.text-white.rounded-xl.px-4.py-2.border-2.border-white.font-semibold.text-lg.duration-500(class="hover:text-black hover:bg-white hover:shadow-xl") Bookkeeping Accounts
            a.whitespace-nowrap.text-white.rounded-xl.px-4.py-2.border-2.border-white.font-semibold.text-lg.duration-500(class="hover:text-black hover:bg-white hover:shadow-xl") Sales & Use Tax Returns
            a.whitespace-nowrap.text-white.rounded-xl.px-4.py-2.border-2.border-white.font-semibold.text-lg.duration-500(class="hover:text-black hover:bg-white hover:shadow-xl") Tax Extentions
            a.whitespace-nowrap.text-white.rounded-xl.px-4.py-2.border-2.border-white.font-semibold.text-lg.duration-500(class="hover:text-black hover:bg-white hover:shadow-xl") Individual & Corporate Taxes prepration
            
